body {
    font-family: Arial, sans-serif;
    background-color: #12182b; /* Темно-синий фон */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2c3e50; /* Более темный оттенок синего для контейнера */
    padding: 30px; /* Увеличил отступ */
    border-radius: 12px; /* Более скругленные углы */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Усилил тень */
    width: 100%;
    max-width: 450px; /* Немного увеличил максимальную ширину */
}

h1 {
    text-align: center;
    color: #ecf0f1; /* Светло-серый текст заголовка */
    margin-bottom: 20px; /* Добавил отступ снизу */
}

.input-group {
    margin-bottom: 20px; /* Увеличил отступ между группами ввода */
}

label {
    display: block;
    margin-bottom: 8px; /* Увеличил отступ */
    color: #95a5a6; /* Светло-серый текст для меток */
}

input {
    width: 100%;
    padding: 12px; /* Увеличил отступ внутри полей */
    border: 1px solid #34495e; /* Более темная граница */
    border-radius: 6px; /* Скругленные углы */
    box-sizing: border-box;
    background-color: #34495e; /* Темно-синий фон для полей */
    color: #ecf0f1; /* Светлый текст для ввода */
}

input::placeholder {
    color: #7f8c8d; /* Цвет для placeholder */
}

button {
    width: 100%;
    padding: 14px; /* Увеличил отступ */
    background-color: #3498db; /* Яркий синий цвет для кнопки */
    color: white;
    border: none;
    border-radius: 6px; /* Скругленные углы */
    cursor: pointer;
    font-weight: bold; /* Сделал текст кнопки жирным */
    transition: background-color 0.3s ease; /* Плавная анимация при наведении */
}

button:hover {
    background-color: #2980b9; /* Более темный синий при наведении */
}